/* nav design */

.nav ul li:nth-child(3) ::after {
  width: 100%;
}
/* Background Image */
body,
html {
  margin: 0%;
  height: 100%;
  width: 100%;
  overflow-x: hidden !important;
}
body {
  /* overflow: hidden; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("img/background\ review.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.testimonials {
  padding: 40px 0px;
  color: white;
  text-align: center;
}
.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0px 20px;
}
.border {
  width: 160px;
  height: 4px;
  background: #c40b0b;
  margin: 20px auto;
}
.far {
  color: #c40b0b;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col {
  flex: 33.33%;
  max-width: 33.3%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial {
  background: rgba(255, 255, 255, 0.4);
  padding: 40px;
  border-radius: 5%;
  cursor: pointer;
}
.testimonial:hover {
  box-shadow: 3px 3px 3px 0px #c40b0b;
  margin-top: 3px;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.name {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-transform: uppercase;
  margin: 20px 0px;
}
.stars {
  color: #c40b0b;
  margin-bottom: 20px;
}
@media screen and (max-width: 960px) {
  .col {
    flex: 100%;
    max-width: 80%;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    margin-top: 150px;
  }
  .col {
    flex: 100%;
    max-width: 100%;
  }
}
